/* autheur Aymeric Bizouarn */
body{
    background-color: #2d3436;
    color: white;
    margin: 0px;
    padding:0px;
    vertical-align: center;
    font-family: sans-serif;
}
.none{
    display:none;
}
#heure{
    text-align: right;
    margin: 0px;
    margin-left: 5px;
}
#day{
    margin: 0px;
    margin-left: 15px;
}
/* affichage couleur cours */
@media{
    .CM{
        margin-bottom: 5px;
        background-color: #a72543;
        margin-top: 5px;
    }
    .TD{
        margin-bottom: 5px;
        background-color: #6fbd0f;
        margin-top: 5px;
    }
    .TP{
        margin-bottom: 5px;
        background-color: #12abba;
        margin-top: 5px;
    }
    .NUL{
        margin-bottom: 5px;
        background-color: #645577;
        margin-top: 5px;
    }
    .HASH{
        grid-row:2/19;
        background: repeating-linear-gradient(
          45deg,
          #FFFFFF20,
          #FFFFFF20 10px,
          #FFFFFF00 10px,
          #FFFFFF00 20px
        );
    }
}
/* affichage pc */
@media only screen and (min-width:800px){
    /* form */
    @media{
        form{
            height: 100%;
        }
        .styled-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 25px;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            margin-top: 3px;
        }
        .styled-input {
            height: 23px;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            margin-top: 3px;
        }
        .semi-square {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-border-width: 0px;
            -moz-border-width: 0px;
            border-width: 0px;
            -webkit-border-color: black;
            -moz-border-color: black;
            border-color: black;
        }
        .blue{ background-color: whie; }
        }
    /* non classé */
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 200px;
        padding: 5px;
        font-size: 25px;
        background-color: #124368;
    }
    .c-1.noneP{
        grid-row: 2/19;
        border-width: 0px 1px 0px 1px;
        border-style: solid;
        border-color: #363e41;
        background: repeating-linear-gradient(45deg,
          rgba(0, 0, 10, 0),
          rgba(0, 0, 10, 0) 10px,
          rgba(0, 0, 10, 0.1) 10px,
          rgba(0, 0, 10, 0.1) 20px
        )
    }
    #grille {
        position: absolute;
        top:0px;
        bottom: 0px;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: 50px  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
    //corection bug décalage
    @media only screen and (max-width:1000px){
        top:80px;   
    }
    #box{
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #363e41;
        text-align: center;
        display: table-cell;
    }
    .midi{
        grid-row: 9/11;
        grid-column: 1 / 16;
        border-style: solid;
        border-width: 1px;
        border-color: #363e41;
        padding: 5px;
        background: repeating-linear-gradient(45deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 10px,
          rgba(0, 0, 0, 0.3) 10px,
          rgba(0, 0, 0, 0.3) 20px
        )
    }
    .border{
        grid-row: 2/19;
        grid-column: 1;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .c-2{
        grid-row: 1;
        grid-column: 1/16;
    }
    .c-1{
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: #363e41;
        grid-row: 2;
        background-color: #3c6382;
        margin: 0px;
        text-align: center;
    }
    .p-1{
        min-height: 80px;
        border-style: solid;
        border-width: 1px;
        border-color: #363e41;
        text-align: left;
        padding: 5px;
        grid-column: 1/16;
    }
    .p-1.c-1{
        min-height: 0px;
    }
    /* affichage colone et ligne*/
    @media{
        .p0{
            grid-column: 2/4;
        }
        .p1{
            grid-column: 4/6;
        }
        .p2{
            grid-column: 6/8;
        }
        .p3{
            grid-column: 8/10;
        }
        .p4{
            grid-column: 10/12;
        }
        .p5{
            grid-column: 12/14;
        }
        .p6{
            grid-column: 14/16;
        }
        .c0{
            grid-row: 3/5;
        }
        .c1{
            grid-row: 5/7;
        }
        .c2{
            grid-row: 7/9;
        }
        .c3{
            grid-row: 11/13;
        }
        .c4{
            grid-row: 13/15;
        }
        .c5{
            grid-row: 15/17;
        }
        .c6{
            grid-row: 17/19;
        }
        .c4-2{
            grid-row: 13;
        }
        .c5-2{
            grid-row: 15;
        }
        .c6-2{
            grid-row: 17;
        }
    }
}
/* affichage portable */
@media only screen and (max-width:800px){
    /* form */
    @media{
        form{
            height: 100%;
        }
        .styled-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 25px;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            margin-top: 3px;
        }
        .styled-input {
            height: 23px;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            margin-top: 3px;
        }
        .semi-square {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-border-width: 0px;
            -moz-border-width: 0px;
            border-width: 0px;
            -webkit-border-color: black;
            -moz-border-color: black;
            border-color: black;
        }
        .blue{ background-color: whie; }
        }
    .c-2{
        grid-row: 1;
        grid-column: 1/4;
    }
    /* non classé */
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 200px;
        padding: 5px;
        font-size: 25px;
        background-color: #124368;
    }
    
    .noneP{display: none}
    .border{display: none;}
    .p-1{display: none;}
    .midi{
        display: none;
    }
    #box{
        padding: 15px;
        margin: 0px;
        text-align: center;
        grid-column: 2;
    }
    #grille {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
    .c-1{
        font-size: 25px;
        background-color: #3c6382;
        padding:0px;
        margin-top: 15px;
        text-align: center;
        grid-column: 2;
    }
    
    .p0.c-1{
        grid-row: 000;
    }
    .p0.c0{
        grid-row: 001;
    }
    .p0.c0-2{
        grid-row: 002;
    }
    .p0.c1{
        grid-row: 003;
    }
    .p0.c1-2{
        grid-row: 004;
    }
    .p0.c2{
        grid-row: 005;
    }
    .p0.c2-2{
        grid-row: 006;
    }
    .p0.c3{
        grid-row: 007;
    }
    .p0.c3-2{
        grid-row: 008;
    }
    .p0.c4{
        grid-row: 009;
    }
    .p0.c4-2{
        grid-row: 010;
    }
    .p0.c5{
        grid-row: 011;
    }
    .p0.c5-2{
        grid-row: 012;
    }
    .p0.c6{
        grid-row: 013;
    }
    .p0.c6-2{
        grid-row: 014;
    }
    
    .p1.c-1{
        grid-row: 100;
    }
    .p1.c0{
        grid-row: 101;
    }
    .p1.c0-2{
        grid-row: 102;
    }
    .p1.c1{
        grid-row: 103;
    }
    .p1.c1-2{
        grid-row: 104;
    }
    .p1.c2{
        grid-row: 105;
    }
    .p1.c2-2{
        grid-row: 106;
    }
    .p1.c3{
        grid-row: 107;
    }
    .p1.c3-2{
        grid-row: 108;
    }
    .p1.c4{
        grid-row: 109;
    }
    .p1.c4-2{
        grid-row: 110;
    }
    .p1.c5{
        grid-row: 111;
    }
    .p1.c5-2{
        grid-row: 112;
    }
    .p1.c6{
        grid-row: 113;
    }
    .p1.c6-2{
        grid-row: 114;
    }
    
    .p2.c-1{
        grid-row: 200;
    }
    .p2.c0{
        grid-row: 201;
    }
    .p2.c0-2{
        grid-row: 202;
    }
    .p2.c1{
        grid-row: 203;
    }
    .p2.c1-2{
        grid-row: 204;
    }
    .p2.c2{
        grid-row: 205;
    }
    .p2.c2-2{
        grid-row: 206;
    }
    .p2.c3{
        grid-row: 207;
    }
    .p2.c3-2{
        grid-row: 208;
    }
    .p2.c4{
        grid-row: 209;
    }
    .p2.c4-2{
        grid-row: 210;
    }
    .p2.c5{
        grid-row: 211;
    }
    .p2.c5-2{
        grid-row: 212;
    }
    .p2.c6{
        grid-row: 213;
    }
    .p2.c6-2{
        grid-row: 214;
    }
    
    .p3.c-1{
        grid-row: 300;
    }
    .p3.c0{
        grid-row: 301;
    }
    .p3.c0-2{
        grid-row: 302;
    }
    .p3.c1{
        grid-row: 303;
    }
    .p3.c1-2{
        grid-row: 304;
    }
    .p3.c2{
        grid-row: 305;
    }
    .p3.c2-2{
        grid-row: 306;
    }
    .p3.c3{
        grid-row: 307;
    }
    .p3.c3-2{
        grid-row: 308;
    }
    .p3.c4{
        grid-row: 309;
    }
    .p3.c4-2{
        grid-row: 310;
    }
    .p3.c5{
        grid-row: 311;
    }
    .p3.c5-2{
        grid-row: 312;
    }
    .p3.c6{
        grid-row: 313;
    }
    .p3.c6-2{
        grid-row: 314;
    }
    
    .p4.c-1{
        grid-row: 400;
    }
    .p4.c0{
        grid-row: 401;
    }
    .p4.c0-2{
        grid-row: 402;
    }
    .p4.c1{
        grid-row: 403;
    }
    .p4.c1-2{
        grid-row: 404;
    }
    .p4.c2{
        grid-row: 405;
    }
    .p4.c2-2{
        grid-row: 406;
    }
    .p4.c3{
        grid-row: 407;
    }
    .p4.c3-2{
        grid-row: 408;
    }
    .p4.c4{
        grid-row: 409;
    }
    .p4.c4-2{
        grid-row: 410;
    }
    .p4.c5{
        grid-row: 411;
    }
    .p4.c5-2{
        grid-row: 412;
    }
    .p4.c6{
        grid-row: 413;
    }
    .p4.c6-2{
        grid-row: 414;
    }
    
    .p5.c-1{
        grid-row: 500;
    }
    .p5.c0{
        grid-row: 501;
    }
    .p5.c0-2{
        grid-row: 502;
    }
    .p5.c1{
        grid-row: 503;
    }
    .p5.c1-2{
        grid-row: 504;
    }
    .p5.c2{
        grid-row: 505;
    }
    .p5.c2-2{
        grid-row: 506;
    }
    .p5.c3{
        grid-row: 507;
    }
    .p5.c3-2{
        grid-row: 508;
    }
    .p5.c4{
        grid-row: 509;
    }
    .p5.c4-2{
        grid-row: 510;
    }
    .p5.c5{
        grid-row: 511;
    }
    .p5.c5-2{
        grid-row: 512;
    }
    .p5.c6{
        grid-row: 513;
    }
    .p5.c6-2{
        grid-row: 514;
    }
    
    .p6.c-1{
        grid-row: 600;
    }
    .p6.c0{
        grid-row: 601;
    }
    .p6.c0-2{
        grid-row: 602;
    }
    .p6.c1{
        grid-row: 603;
    }
    .p6.c1-2{
        grid-row: 604;
    }
    .p6.c2{
        grid-row: 605;
    }
    .p6.c2-2{
        grid-row: 606;
    }
    .p6.c3{
        grid-row: 607;
    }
    .p6.c3-2{
        grid-row: 608;
    }
    .p6.c4{
        grid-row: 609;
    }
    .p6.c4-2{
        grid-row: 610;
    }
    .p6.c5{
        grid-row: 611;
    }
    .p6.c5-2{
        grid-row: 612;
    }
    .p6.c6{
        grid-row: 613;
    }
    .p6.c6-2{
        grid-row: 614;
    }
}