.banner-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;
  
    background-color: #F1F6F4;
  }
  
  .banner-consent-banner__inner {     
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
  }
  
  .banner-consent-banner__copy { 
    margin-bottom: 16px;
  }
  
  .banner-consent-banner__actions {  
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;  
  }
  
  .banner-consent-banner__header {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: black;
  }
  
  .banner-consent-banner__description {
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  .banner-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
      
    border-radius: 2px;
    
    background-color: #2CE080;
     
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .banner-consent-banner__cta--secondary { 
    padding: 9px 13px;
    
    border: 2px solid #3A4649;
    
    background-color: transparent;
    
    color: #2CE080;
  }
  
  .banner-consent-banner__cta:hover {
    background-color: #20BA68;
  }
  
  .banner-consent-banner__cta--secondary:hover {
    border-color: #838F93;
      
    background-color: transparent;
    
    color: #22C870;
  }
  
  .banner-consent-banner__cta:last-child {
    margin-left: 16px;
  }